<footer class="footer">
    <div class="col-md-12 footer-header-logo">
        <img src="img/logo.png" height="50" width="60" alt="">
    </div>
    {{mes}}

    <div class="col-md-12 footer-title">
        <h3>BOURG-EN-BRESSE- LYON -BOURGOIN-JALLIEU</h3>
    </div>
    <div class="col-md-12 footer-contact">
        <div class="col-md-6 footer-map embed-responsive embed-responsive-16by9">
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22232.553958476125!2d5.430784434877129!3d45.84991345530542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478b46765f67c12d%3A0x80477f7dd067de3d!2sVillebois!5e0!3m2!1sfr!2sfr!4v1468686971886" width="600" height="200" frameborder="0" style="border:0" allowfullscreen class="embed-responsive-item"></iframe>-->
        </div>
        <div class="col-md-6 footer-reseau">
            <p><i class="fa fa-envelope"></i> stephds01@gmail.com</p>
            <p><i class="fa fa-phone"></i> 06 75 74 32 01</p>
            <p><i class="fa fa-map-marker"></i> 24 Impasse de la place - 01150 VILLEBOIS</p>
            <div class="footer-sociaux">
                <p>
                    <i class="fa fa-github fa-2x"></i>
                    <i class="fa fa-facebook fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i>
                </p>
            </div>
        </div>
    </div>
</footer>
