<header >
    <div class="logo">
        <img src="img/logo.png" height="50" width="60" alt="">
    </div>
    <div class="header-chapiter">
        <div ng-bind="$root.title">{{$root.title}}</div>
        <div class="header-border"></div>
    </div>
    <button class="header-icon" ng-click="menuOn()" ><i class="fa fa-bars" aria-hidden="true" ></i></button>


    <nav class="menu" ng-show="opens">
        <div class="menu-box">
            <div class="menu-logo">
                <img src="img/logo.png" height="50" width="60" alt="">
                <a href="" ng-click="menuOff()"><div class="menu-icon"><i class="fa fa-times" aria-hidden="true"></i></div></a>
            </div>
            <div class="menu-items">
                <a href="#/home">
                    <div class="menu-item">
                        <p class="menu-icon">
                            <img src="img/icon/prolog.png" alt="">
                        </p>
                        <p>Prolog</p>
                        <p>HOME</p>
                    </div>
                </a>
                <a href="#/about">
                    <div class="menu-item">
                        <p class="menu-icon">
                            <img src="img/icon/timestamp.png" alt="">
                        </p>
                        <p>Chapitre 1</p>
                        <p>A propos</p>
                    </div>
                </a>
                <a href="#/team">
                    <div class="menu-item">
                        <p class="menu-icon">
                            <img src="img/icon/user.png" alt="">
                        </p>
                        <p>Chapitre 2</p>
                        <p>Team</p>
                    </div>
                </a>
                <a href="#/services">
                    <div class="menu-item">
                        <p class="menu-icon">
                            <img src="img/icon/reminber.png" alt="">
                        </p>
                        <p>Chapitre 3</p>
                        <p>Services</p>
                    </div>
                </a>
                <a href="#/portfolio">
                    <div class="menu-item">
                        <p class="menu-icon">
                            <img src="img/icon/portfolio.png" alt="">
                        </p>
                        <p>Chapitre 4</p>
                        <p>Portfolio</p>
                    </div>
                </a>
                <a href="#/blog">
                    <div class="menu-item">
                        <p class="menu-icon">
                            <img src="img/icon/blog.png" alt="">
                        </p>
                        <p>Chapitre 5</p>
                        <p>Blog</p>
                    </div>
                </a>
                <a href="#/carriere">
                    <div class="menu-item">
                        <p class="menu-icon">
                            <img src="img/icon/business.png" alt="">
                        </p>
                        <p>Chapitre 6</p>
                        <p>Carrer</p>
                    </div>
                </a>
                <a href="#/contact">
                    <div class="menu-item">
                        <p class="menu-icon">
                            <img src="img/icon/contact.png" alt="">
                        </p>
                        <p>Chapitre 7</p>
                        <p>Contact</p>
                    </div>
                </a>
            </div>
            <div class="menu-footer">
                <div class="menu-background">

                    <div>

                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-github"></i>
                        <i class="fa fa-linkedin"></i>

                    </div>
                    <div>
                        Copyright 2016 Developer-web.fr
                    </div>

                </div>
            </div>
        </div>
    </nav>

</header>
