<section class=" col-md-12 home">
    <div class="col-md-8 home-text">
        <h2>Hello</h2>
        <h3>We are Marbles, full digital services agency.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci earum et illo inventore, modi pariatur quaerat quasi similique soluta velit? Eos et expedita, magnam nemo nihil pariatur repudiandae saepe soluta?Delectus deserunt facilis, incidunt magnam molestiae non obcaecati, provident quia recusandae rerum sapiente sint! Cumque deleniti dolor ducimus eveniet exercitationem fugiat ipsum quasi quos suscipit voluptas. Ea impedit maiores totam!</p>
        <button>LEARN MORE  <i class="fa fa-angle-right button-right"></i></button>
    </div>
    <div class="col-md-4 header-background">
        <img src="../img/comete.png" alt="">
    </div>
</section>
