<section class=" col-md-12 portfolio">
    <div class="row">
        <h2>portfolio</h2>
        <h3>Quelques travaux sans prétention</h3>
        <button class="filter" data-filter=".category-1">Site vitrine</button>
        <button class="filter" data-filter=".category-2">Site e-commerce</button>
        <button class="filter" data-filter=".category-3">Angular</button>
        <button class="filter" data-filter=".category-4">Application mobile</button>
        <button class="filter" data-filter=".category-5">Newsletters</button>

        <div id="Container">
            <div class="mix category-1" data-my-order="1">Categorrrriii 1</div>
            <div class="mix category-1" data-my-order="2"> Categorrrriii 1 </div>
            <div class="mix category-2" data-my-order="3"> Categorrrriii 2 </div>
            <div class="mix category-2" data-my-order="4"> Categorrrriii 2</div>
        </div>

    </div>

</section>