<section class="col-md-12  l-team team">
    <img src="../img/about-img.png" class="team-background" height="" alt="">
    <div class="row">
        <!--<div class="col-md-12 team">-->
            <div class="col-md-5 col-md-offset-1 team-content">
                <h2>Team</h2>
                <h3>Not just coworkers - family.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda debitis ducimus eaque eos laboriosam nemo quis vitae? Animi autem culpa debitis error harum perferendis quae sit tenetur ullam voluptatum.Commodi cupiditate est eveniet non porro quos ullam veritatis. Ab accusantium aperiam, corporis ducimus enim eos labore molestias sed ut vitae! Exercitationem harum, labore nesciunt non odit perspiciatis repellat sapiente!Architecto eaque enim iure iusto obcaecati! A architecto corporis delectus, deleniti deserunt distinctio eos et facere inventore, ipsum magnam magni molestiae numquam optio pariatur quas, rem repellat sint soluta sunt?</p>
            </div>
            <div class="col-md-5 team-box-img">
                <p><img src="../img/team3.png" alt=""></p>
                <div class="team-caption">
                    <p>Stéphanie DE SA <br>
                        <span>developpeur Front-end Junior</span></p>
                </div>
            </div>
        <!--</div>-->

    </div>
</section>